@page
@model IndexModel

<h3>Open Source Software Projects</h3>

<p>
    Hello! I'm a software developer based in Boston MA, currently leading the SRE/DevOps organization for a FinTech startup. 
</p>
<p>
    I'm showcasing several of my side projects here. Stay tuned for more!
</p>

<h4>Projects</h4>
<p>
    Music In Context: Applying data science techniques to spotify's open api, I discovered that sorting tracks using K-means clustering can be used to find the most similar tracks to a given song. Spotify then recommends better tracks for each cluster.
</p>

<ul>
    @foreach (var item in Model.PortfolioItems)
    {
        <li><a href="@item.Url">@item.Title</a></li>
    }
</ul>
