@page
@model IndexModel

<h1>Open Source Software Projects</h1>

<p>
    Hello! I'm a software developer based in Boston MA, currently leading the SRE/DevOps organization for a FinTech startup. 
    I write a bit of code on the side and link to several of the projects here. Stay tuned for more!
</p>

<ul>
    @foreach (var item in Model.PortfolioItems)
    {
        <li><a href="@item.Url">@item.Title</a></li>
    }
</ul>
